*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Raleway, sans-serif;
  color: #2C2D35;
  font-weight: 500;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
}
